@import "./../../../cssVariables.scss";

tbody tr td {
  &:first-child {
    text-align: center;
  }
}

.body__row--active {
  background-color: $gray;
  td {
    .cell__options__saveordiscard {
      width: 100%;
      height: 100%;
      position: relative;
      .cell__options {
        width: 33%;
        text-align: center;
        float: left;

        svg {
          height: 20px;
          width: 25px;
          padding-top: 3px;
        }

        &.cell__options--save {
        }
      }
    }
  }
  .custom-option-width {
    input {
      width: 90%;
      margin: 0 5%;
    }
  }
}

.body__row--default {
  .custom-option-width {
    max-width: 50px;
    .cell__options__actions {
      &--disable {
        svg {
          fill: lightgray !important;
        }
      }
    }
  }
}

.custom-select {
  width: 100%;
}
