@import "./../../../cssVariables.scss";

.body__row--active {
  background-color: $gray;
  .custom-option-width {
    .cell__options__saveordiscard {
      width: 100%;
      position: relative;
      .cell__options {
        width: 45%;
        text-align: center;
        float: left;

        svg {
          height: 26px;
          width: 30px;
          padding-top: 3px;
        }

        &.cell__options--save {
        }
      }
    }
  }

  .custom-cell-width {
    input {
      width: 100%;
    }
  }
}
