$large: 901px;
$small: 900px;
$small-horizontal: 500px;

// colors hex
$darkBlue: #253255;
$blue: #3d5188;
$lightBlue: #afd7e7;
$white: #ffffff;
$gray: #dadada;
$yellow: #fda401;
$lightYellow: #ffb01f;

//colors rgba
$rgbaLightBlue: rgba(133, 174, 189, 1);
$rgbafourthBlack: rgba(0, 0, 0, 0.25);
