@import "./cssVariables.scss";

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  margin: 0;
  padding: 0;
}
p {
  margin: 5px 0 10px 0;
}

.data-table {
  height: 100%;
  width: 100%;
  background-color: $darkBlue;
  position: relative;
  .toggle__container {
    position: absolute;
    right: 0;
    top: 4px;
  }

  hr {
    position: absolute;
    margin: 0;
    padding: 0;
    height: 2px;
    width: 100%;
    background-color: $gray;
    top: 38px;
    z-index: 10;
    border: none;
    // border-top: 1px solid $gray;
  }
  .table__tabs {
    padding-top: 5px;
    z-index: 2000;

    .tab {
      display: inline-block;
      border-top: 1px solid $gray;
      border-right: 1px solid $gray;
      border-left: 1px solid $gray;
      border-radius: 5px 5px 0px 0px;
      .count {
        display: inline-block;
        text-align: center;
        width: auto;
        padding-right: 5px;
        padding-left: 5px;
        border-left: 1px solid $white;
        color: $white;
      }
      .tab__button {
        border: none;
        padding: 0.5rem 0.5rem;
        margin: 0;
        outline: none;
        text-decoration: none;
        background-color: transparent;
        color: #ffffff;
        font-family: sans-serif;
        font-size: 1rem;
        line-height: 1;
        border-radius: 4.5px 4.5px 0px 0px;
        // padding-right: 75px;
        cursor: pointer;
        text-align: center;
        transition: background 250ms ease-in-out, transform 150ms ease;
        -webkit-appearance: none;
        -moz-appearance: none;
        &.tab__button--active {
          background-color: transparent;
          color: $darkBlue;
        }
        &.tab__buton--default {
        }
      }
      &:first-child {
        margin-left: 8px;
      }

      &.tab--active {
        box-shadow: -10px 0px 30px 0px rgba(0, 0, 0, 0.5),
          10px 0px 30px 0px rgba(0, 0, 0, 0.5);
        background-color: $lightBlue;
        transform: scale(1.1, 1.1) translate(0px, -1.5px);
        color: $darkBlue;

        .count {
          border-left: 1px solid $darkBlue;
          color: $darkBlue;
        }
      }

      &.tab--default {
        background: $blue;
      }
    }
  }
  .table__container {
    width: 100%;
    height: calc(100% - 88px);
    overflow: auto;

    .table__custom {
      background-color: $gray;
      width: 100%;
    }

    tbody {
      color: $darkBlue;
      background-color: $white;
      .column__select--true {
        background-color: #ffa5005c;
      }
      .custom-cell-width {
        padding: 5px;
        position: relative;
        border: 1px solid $gray;
        font-size: 0.85rem;
        &:hover {
          background-color: #ffa5005c;
        }
      }
    }
    thead {
      .column__select--true {
        background-color: #ffa500;
      }
      tr th {
        padding: 0px;
        text-align: center;
        position: sticky;
        z-index: 949;
        top: 2px;
        background-color: #dee2e6;
        border: none;
        border-top: none;
        box-shadow: 0px 10px 15px -11px rgba(0, 0, 0, 0.5);
      }

      th {
        &:first-child {
          width: auto;
          padding-right: 5px;
          .custom-cell-sort {
            display: none;
          }
        }
      }
      .custom-cell-sort {
        position: absolute;
        right: -5px;
        bottom: 1px;
        border: 1px solid #a2a2a2;
        border-radius: 4px;
        width: 18px;
        background-color: white;
        height: 20px;
        // top: 50%;
        // bottom: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        svg {
          height: 20px;
          width: 18px;
          position: absolute;
          bottom: 0;
          right: 0;
        }
      }
      .custom-cell-sort--true {
        background-color: $lightYellow;
      }

      .custom-cell-width-header {
        height: auto;
        max-height: 75px;
        padding-right: 30px;
        position: relative;
        // border: 1px solid #253255;
        // border-bottom: 2px solid #253255;

        .custom-cell-header-small {
          font-size: 0.7rem;
        }
      }
    }
    .custom-cell-width {
      &:first-child {
        min-width: 20px;
      }
      padding: 5px;
      height: 35px;
      min-width: 130px !important;
      position: relative;
      border: 1px solid rgba(0, 0, 0, 0);
      .cell__edit {
      }

      label {
        width: 100%;
        font-size: 0.75em;
        margin: 0px;
        color: $darkBlue;
      }
      i {
        width: 25%;
        padding-left: 10px;
        margin: 0px;
        position: absolute;
        right: 8px;
        top: 10px;
      }
    }
  }
}
